html {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #f3f3f3;
    /* background-image: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: grey;
    height: 100%;
    width: 100%;
}

body {
    min-width: 300px;
    max-width: 720px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5rem;
}






form {
    background-color: rgba(0, 0, 0, 50%);
    display: block;
    margin: 0 auto;
    font-size: 1.25em;
}

fieldset {
    border: none;
    padding: 2em;
}

label {
    display: block;
}